



<div *ngIf="mainForm">

<div class="py-5">
  <div class="row">
      <div class="col-md-6 mx-auto">
          <div class="card rounded-0">
              <div class="card-header">
                  <h3 class="mb-0">Login</h3>
              </div>
              <div class="card-body">
                  <form #form="ngForm"(ngSubmit)="loginData()">
                      <div class="form-group" [class.has-error]="email.invalid && email.touched">
                          <label for="email">Enter your email</label>
                          <input id="email" [(ngModel)]="loginUserData.email" required email type="text" name="email"  #email="ngModel" class="form-control rounded-0">
                          <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">
                            Email is required
                          </div>
                           <div class="alert alert-danger" *ngIf="email.errors?.email && email.touched">
                             Email is invalid
                           </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" [(ngModel)]="loginUserData.password" required password name="password" #password="ngModel" class="form-control rounded-0" required maxlength="80" minlength="5">
                            <div class="alert alert-danger" *ngIf="password.errors?.required && password.touched">
                                Password is required
                              </div>
                        </div>
                        <button [disabled]="form.invalid" type="submit" class="btn btn-success float-right">Login</button>
                         <p class="float-left" >
                           <button class="btn btn-primary"(click)="onGoto()">Register</button>
                           <a style="color: dodgerblue;text-decoration: underline;cursor: pointer;" href="javascript:void(0);"(click)="ResetPwd()">Forgotpassword?</a>&nbsp;&nbsp;
                         </p>
                         
                  

                        <!-- <button  class="btn btn-primary" style="background-color: #385998;border-color: #385998;" (click)="facebookLogin()"><i class="fa fa-facebook">Facebook login</i></button>
                       <button  class="btn btn-primary" style="background-color: #c63d2d;border-color: #c63d2d;" (click)="googleLogin()"><i class="fa fa-gmail">Gmail login</i></button>
                      <a href="/auth/facebook" target="_blank"><button type="button" class="btn btn-success">fb</button></a>
                       <div class="col md-12" style="text-align:-webkit-center;">
                          <div class="card" style="width:20rem;margin:20px 0 24px 0;text-align:-webkit-center;"*ngIf="res.photoUrl">
                              <img [src]="res.photoUrl" alt="image" style="widows:200px;border-radius:50%;margin-top:10px;">
                              <div class="card-body">
                                  <h4 class="card-title">{{res.name}}</h4>
                                  <p class="card-text">{{res.email}} </p>
                              </div>
                          </div>
                      </div> -->
                  </form>
              </div>
          </div>
      </div>

  </div>
  </div>
</div>

<div *ngIf="pwdForm">

<div class="py-5">
    <div class="row">
<div class="col-md-6 mx-auto">
<div  class="card rounded-0">
    <h5 class="card-header">ResetPassword</h5>
    <div class="card-body">
     <div [formGroup]="forgotPwdform">
        <div class="login_form" style="font-weight: bold;">
            <h6>Enter your email here</h6>
            <input type="text" id="foremail" class="form-control rounded-0" formControlName="foremail" placeholder="Enter Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,5}$"><br/>
           
               <button class="btn btn-primary" (click)="onSendEmail()">Send </button>
               <button class="btn btn-danger" (click)="onCancel()" style="float: right;">cancel</button>
               <div *ngIf="errormsg">
                <p class="failmail">Email was not registered with us..!</p>
            </div>
            <div *ngIf="successmsg">
                <p class="successmail">Email sent succesfully!</p>
            </div>
    
   
        </div>
        </div>
    </div>
  </div>
</div>
    </div>
</div>
</div>
