


.failmail {
    text-align: center;
    color: red;
    font-size: 18px;
    padding-top: 1em;
}

.successmail {
    text-align: center;
    color: green;
    font-size: 18px;
    padding-top: 1em;
}

.btn-google {
    color: white;
    background-color: #ea4335
}

.btn-facebook {
    color: white;
    background-color: #3b5998
}